#city-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: inline;
    border: 3px ridge peru;
    padding: 10px;
    background-color: white;
    margin: 50px 0 10px 0;
}
